<a href="https://colab.research.google.com/github/Sakthiganesh6047/Data-Analytics-Pythonbasics/blob/main/Python_basic_asg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 100
b = 2

# Add
print(a + b)

# Sub
print(a - b)

# Multiply
print(a * b)

# Divide
print(a / b)

# Floor division
print(a // b)

102
98
200
50.0
50

In [ ]:
# Increment operation
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
i = 1
while i < 10:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [ ]:
# Sets
set1 = {1, 2, 3}
print("Set1:", set1)

print("First element:", set1.pop())
print("Set1:", set1)

set1.add(4)
print("Set1:", set1)

set1.remove(3)
print("Set1:", set1)

set2 = {3, 4, 5, 6, 7}
print("Set1 U Set2:", set1 | set2)

print("Set1 n Set2:", set1 & set2)

print("Set1 - Set2:", set1 - set2)

Set1: {1, 2, 3}
First element: 1
Set1: {2, 3}
Set1: {2, 3, 4}
Set1: {2, 4}
Set1 U Set2: {2, 3, 4, 5, 6, 7}
Set1 n Set2: {4}
Set1 - Set2: {2}

In [ ]:
# Types
a = 10
print("Type of a:", type(a))

b = "Hello World"
print("Type of b:", type(b))

c = True
print("Type of c:", type(c))

d = 10.245
print("Type of d:", type(d))

Type of a: <class 'int'>
Type of b: <class 'str'>
Type of c: <class 'bool'>
Type of d: <class 'float'>

In [ ]:
# List and Tuples
list1 = [1, 2, 3, 4, 5]
print("List1:", list1)

tuple1 = (6, 7, 8, 9, 10)
print("Tuple1:", tuple1)

List1: [1, 2, 3, 4, 5]
Tuple1: (6, 7, 8, 9, 10)

In [ ]:
Alphabets = ["a", "b", "c", "d", "e"]
for x in Alphabets:
  print(x)
  if x == "c":
    break

a
b
c

In [ ]:
Myname = "Sakthiganesh"
print(Myname[2:-3])

kthigan